In [19]:
A=eval(input("enter the number"))
print(A)
type(A)

10

int

In [20]:
i=0
while i<=5:
    print("hi")
    i+=1

hi
hi
hi
hi
hi
hi

In [3]:
i=0
while i<1:
    print("hi")
    j=0
    while j<5:
        print("shankar")
        j+=1
    i+=1

hi
shankar
shankar
shankar
shankar
shankar

In [9]:
name="navin"
for i in name:
    print(i)

print("-----------------------")

for i in range(len(name)):
    print(name[i])

n
a
v
i
n
-----------------------
n
a
v
i
n

In [26]:
name="navin"
for i in name:
    # print(i)
    if i=="i" :
      break
    print(i)

n
a
v

for else

In [14]:
name="navin"
for i in name:
    if i=="v":
        continue
    else:
        print(i)

n
a
i
n

In [28]:
for i in range(10):
  pass

printing pattern in python

In [30]:
li=4
for i in range(li):

    # print("*",end=" ")
    for j in range(4):
        print("*",end="")
    print("\n")

* * * *

* * * *

* * * *

* * * *

In [12]:
num=1
for i in range(4):
    for j in range(num):
        print("*", end=" ")

    print("\n")
    num=num+1

*

* *

* * *

* * * *

In [35]:
for i in range(4):
    for j in range(i+1):
        print("* ",end="")
    print("\n")

*

* *

* * *

* * * *

In [33]:
for i in range(4):
    print("* "*i)

*
* *
* * *

In [14]:
num=4
for i in range(4):
    for j in range(num):
        print("*", end=" ")

    print("\n")
    num=num-1

* * * *

* * *

* *

*

In [54]:
import array as ar
a=ar.array("i",[1,2,3,4,5])
print(a[:2])
for i in range(len(a)):
    print(a[i])

a.append(50)
print(a)

array('i', [1, 2])
1
2
3
4
5
array('i', [1, 2, 3, 4, 5, 50])

In [41]:
for i in range(10):
    if i%2!=0:
        print("odd",i)

odd 1
odd 3
odd 5
odd 7
odd 9

prime number

In [49]:
num=int(input("enter the number"))
sum=0
for i in range(1,num):

    if num%i==0:
        
        sum=sum+1

if sum==2:
    print("the prime number",num)

else:
    print("enter number is not prime number",num)

enter number is not prime number 523